
[Unit]
Description=Whisper-WebUI Service
After=network.target

[Service]
Type=simple
User=sapr
Group=sapr
WorkingDirectory=""
Environment="PATH=/path/to/whisper-webui/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=""

Restart=always
RestartSec=10

StandardOutput=/var/log/whisper-webui.log
StandardError=/var/log/whisper-webui-error.log

LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
